# Get this from https://platform.openai.com/account/api-keys
OPEN_AI_ACCESS_TOKEN=

# If you have an organization, get this form https://platform.openai.com/account/org-settings
OPEN_AI_ORGANIZATION_ID=
