---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=823e3d12c3f3b4166&key=AIzaSyBJvX45Az4C0ntB0yEP52xDqUv9JPokNa4&num=10&q=current%20CEO%20of%20Twitter
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - current CEO of Twitter",
                "totalResults": "335000000",
                "searchTerms": "current CEO of Twitter",
                "count": 10,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "823e3d12c3f3b4166"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - current CEO of Twitter",
                "totalResults": "335000000",
                "searchTerms": "current CEO of Twitter",
                "count": 10,
                "startIndex": 11,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "823e3d12c3f3b4166"
              }
            ]
          },
          "context": {
            "title": "senior-gem"
          },
          "searchInformation": {
            "searchTime": 0.466495,
            "formattedSearchTime": "0.47",
            "totalResults": "335000000",
            "formattedTotalResults": "335,000,000"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "Twitter, Inc. - Wikipedia",
              "htmlTitle": "\u003cb\u003eTwitter\u003c/b\u003e, Inc. - Wikipedia",
              "link": "https://en.wikipedia.org/wiki/Twitter,_Inc.",
              "displayLink": "en.wikipedia.org",
              "snippet": "^ \"Elon Musk now in charge of Twitter, CEO and CFO have left, sources say\". CNBC. Archived from the original on November 6, 2022. Retrieved October 28, 2022. ^ ...",
              "htmlSnippet": "^ &quot;Elon Musk now in charge of \u003cb\u003eTwitter\u003c/b\u003e, \u003cb\u003eCEO\u003c/b\u003e and CFO have left, sources say&quot;. CNBC. Archived from the original on November 6, 2022. Retrieved October 28, 2022. ^&nbsp;...",
              "cacheId": "ZbH3Xa6nR_IJ",
              "formattedUrl": "https://en.wikipedia.org/wiki/Twitter,_Inc.",
              "htmlFormattedUrl": "https://en.wikipedia.org/wiki/\u003cb\u003eTwitter\u003c/b\u003e,_Inc.",
              "pagemap": {
                "hcard": [
                  {
                    "url_text": "about.twitter.com",
                    "bday": "2006-03-21",
                    "fn": "Twitter, Inc.",
                    "logo": "Final logo used from 2012 to 2023",
                    "category": "Private",
                    "url": "about.twitter.com"
                  }
                ],
                "metatags": [
                  {
                    "referrer": "origin",
                    "og:image": "https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Twitter_Headquarters_in_San_Francisco-L1001299.jpg/1200px-Twitter_Headquarters_in_San_Francisco-L1001299.jpg",
                    "theme-color": "#eaecf0",
                    "og:image:width": "1200",
                    "og:type": "website",
                    "viewport": "width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.25, maximum-scale=5.0",
                    "og:title": "Twitter, Inc. - Wikipedia",
                    "og:image:height": "1500",
                    "format-detection": "telephone=no"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "Elon Musk now in charge of Twitter, CEO and CFO have left, sources ...",
              "htmlTitle": "Elon Musk now in charge of \u003cb\u003eTwitter\u003c/b\u003e, \u003cb\u003eCEO\u003c/b\u003e and CFO have left, sources ...",
              "link": "https://www.cnbc.com/2022/10/27/elon-musk-now-in-charge-of-twitter-ceo-and-cfo-have-left-sources-say.html",
              "displayLink": "www.cnbc.com",
              "snippet": "Oct 27, 2022 ... Tesla CEO Elon Musk has taken control of Twitter, which he agreed to purchase for $44 billion.",
              "htmlSnippet": "Oct 27, 2022 \u003cb\u003e...\u003c/b\u003e Tesla \u003cb\u003eCEO\u003c/b\u003e Elon Musk has taken control of \u003cb\u003eTwitter\u003c/b\u003e, which he agreed to purchase for $44 billion.",
              "formattedUrl": "https://www.cnbc.com/.../elon-musk-now-in-charge-of-twitter-ceo-and-cfo- have-left-sources-say.html",
              "htmlFormattedUrl": "https://www.cnbc.com/.../elon-musk-now-in-charge-of-\u003cb\u003etwitter\u003c/b\u003e-\u003cb\u003eceo\u003c/b\u003e-and-cfo- have-left-sources-say.html",
              "pagemap": {
                "cse_thumbnail": [
                  {
                    "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTwHWsNGDlq37hBOk717oGdREgB_kDMcRf7eff6lsFxTMptRGibzxl0FSc1",
                    "width": "300",
                    "height": "168"
                  }
                ],
                "newsmediaorganization": [
                  {
                    "foundingdate": "'1989-04-17'",
                    "name": "CNBC",
                    "url": "https://www.cnbc.com"
                  }
                ],
                "metatags": [
                  {
                    "og:image": "https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681&w=1920&h=1080",
                    "apple-itunes-app": "app-id=398018310",
                    "twitter:card": "summary_large_image",
                    "article:published_time": "2022-10-28T00:23:01+0000",
                    "og:site_name": "CNBC",
                    "twitter:url": "https://www.cnbc.com/2022/10/27/elon-musk-now-in-charge-of-twitter-ceo-and-cfo-have-left-sources-say.html",
                    "tp:preferredformats": "M3U,MPEG4",
                    "og:description": "Tesla CEO Elon Musk has taken control of Twitter, which he agreed to purchase for $44 billion.",
                    "twitter:creator": "DavidFaber",
                    "parsely-metadata": "{\"nodeid\":107142237,\"originalImage\":\"https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681\"}",
                    "article:publisher": "https://www.facebook.com/cnbc",
                    "al:ios:app_store_id": "398018310",
                    "pagenodeid": "107142237",
                    "twitter:site": "@CNBC",
                    "article:modified_time": "2022-10-28T13:08:21+0000",
                    "news_keywords": "Breaking News: Technology,Internet,Technology,Mobile,Social media,Tesla Inc,Twitter (delisted),Elon Musk,Elon Musk,business news",
                    "tp:preferredruntimes": "universal",
                    "tp:initialize": "false",
                    "assettype": "cnbcnewsstory",
                    "og:type": "article",
                    "twitter:title": "Elon Musk now in charge of Twitter, CEO and CFO have left, sources say",
                    "article:section": "Technology",
                    "al:ios:app_name": "CNBC Business News and Finance",
                    "author": "David Faber,Jonathan Vanian",
                    "og:title": "Elon Musk now in charge of Twitter, CEO and CFO have left, sources say",
                    "article:author": "https://www.facebook.com/CNBC",
                    "twitter:image:src": "https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681&w=1920&h=1080",
                    "article:tag": "Breaking News: Technology",
                    "viewport": "initial-scale=1.0, width=device-width",
                    "twitter:description": "Tesla CEO Elon Musk has taken control of Twitter, which he agreed to purchase for $44 billion.",
                    "og:url": "https://www.cnbc.com/2022/10/27/elon-musk-now-in-charge-of-twitter-ceo-and-cfo-have-left-sources-say.html",
                    "format-detection": "telephone=no",
                    "article:opinion": "false"
                  }
                ],
                "webpage": [
                  {
                    "image": "https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681&w=1920&h=1080",
                    "contentrating": "NR",
                    "specialty": "Breaking News: Technology,Internet,Technology,Mobile,Social media,Tesla Inc,Twitter (delisted),Elon Musk,Elon Musk",
                    "primaryimageofpage": "https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681",
                    "datemodified": "2022-10-28T13:08:21+0000",
                    "inlanguage": "en-US",
                    "keywords": "Breaking News: Technology,Internet,Technology,Mobile,Social media,Tesla Inc,Twitter (delisted),Elon Musk,Elon Musk,business news",
                    "lastreviewed": "2022-10-28T13:08:21+0000",
                    "name": "Elon Musk now in charge of Twitter, CEO and CFO have left, sources say",
                    "description": "Tesla CEO Elon Musk has taken control of Twitter, which he agreed to purchase for $44 billion.",
                    "datecreated": "2022-10-28T00:23:01+0000",
                    "datepublished": "2022-10-28T00:23:01+0000"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://image.cnbcfm.com/api/v1/image/107111240-1661865566264-musk5.jpg?v=1669221681&w=1920&h=1080"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "What Happens to Twitter CEO Parag Agrawal After Musk Deal | Time",
              "htmlTitle": "What Happens to \u003cb\u003eTwitter CEO\u003c/b\u003e Parag Agrawal After Musk Deal | Time",
        [...]
